body {
  background-color: lightblue; }
  body #user-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -2vh;
    margin-left: 800px; }
  body #user-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey; }
  body #user-form {
    border-radius: 10%;
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: darkgrey; }
